* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 100%;
    width: 80%;
    margin: auto;
}

/* Fonts */
.small {
    font-size: small;
}


/* End Fonts */

/* Float and Positions */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

[class^=column] {
    width: calc(33.33% - 10px);
    margin: 5px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.first-section,
.second-section {
    margin: 15px 0;
}

/* End Float and Positions */

/* Images */
img {
    width: 100%;
}

.under-img{
    position: absolute;
    display: none;
}

.column-sx:hover .under-img,
.column-dx:hover .under-img,
.column-mid:hover .under-img {
    display: inline-block;
}
/* End Images */

/* Decorations and Prices */
.heart{
    width: 50px;
    height: 50px;
    background-color: white;
    top: 28px;
    right: 0;
    text-align: center;  
    font-size: 37px;
    z-index: 100;
}

.heart:hover {
    color: red;
}

.sale {
    background-color: red;
    bottom: 5em;
    left: 0;
}

.sustain {
    background-color: forestgreen;
    bottom: 5em;
    left: 2.5em;
}

.sustain-no-sale {
    background-color: forestgreen;
    bottom: 5em;
}

.actual-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}
/* End Decorations and Prices */
